
body {
    background-color: #454545;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
}

h1 {
    color: rgb(9, 205, 45);
    font-family: 'Jersey 15', sans-serif;
    font-size: 48px;
}

.todoheader {
    letter-spacing: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.todoholder {
    margin-top: 20px;
    width: 250px;
    height: 280px;
    background-color: #FF9800; 
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.todoholder input[type="text"] {
    border: none;
    padding: 4px 10px;
    border-radius: 1px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    outline: none;
}

.todoholder button {
    margin-left: 40px;
    border: none;
    padding: 4px 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(255, 255, 255);
    background-color: #fdbc5b;
}

.todoholder button:hover {
    background-color: #c77700;
}

.todoholder ul [taskList] {
    color: white;
}

.outputcss {
    color: white;
    list-style-type: none;
    padding: 5px 10px;
    line-height: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}